@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

#inputCard {
  width: 60vw;
  height: auto;
  background-color: rgb(248, 240, 240);
  padding: 1rem;
  border: 1px solid rgb(163, 158, 158);
  border-radius: 0.5rem;
  display: flex;
  gap: 2rem;
  position: relative;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* for Internet Explorer, Edge */
  scrollbar-width: none;     /* for Firefox */
}
